<%- include('partials/header', {page: page}) %>

    <div class="container text-center px-md-5 my-5">
        <h1 class='fw-light'>Hello, <%= name %>.</h1>

        <% if (portfolio.userHoldings.length) { %>
            <div class='container p-4 mt-4 px-5 text-center bg-light'>

                <h2 class='fw-light overall'>Overall Performance</h2>
                <div class='row'>
                    <div class="col-4 col-md-2 row row-cols-1 align-items-center">
                        <div class="col">
                            <h3 class='fw-lighter'>Return</h3>
                        </div>
                        <div class="col">
                            <h3 class='fw-lighter'>Cost</h3>
                        </div>
                    </div>
                    <div class="col-8">
                        <canvas id="myChart" width="876" height="219"></canvas>
                    </div>
                    <div class="col-md-2 d-none d-md-flex">
                        <div class="row row-cols-1 align-items-center">
                            <div class="col">
                                <h3 class='fw-lighter'>
                                    $<%= portfolio.totalValue[1]%>
                                </h3>
                            </div>
                            <div class="col">
                                <h3 class='fw-lighter'>
                                    $<%= portfolio.totalCost[1]%>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='mt-2'>
                    <h5 class='fw-light'>Current Yield</h5>
                    <h3 class='fw-light <%=(portfolio.currentValue[0] < 0) ? ' text-danger' : 'text-success' %>'>$
                        <%=portfolio.currentValue[1]%>, (<%=portfolio.currentPercent[1]%>%)
                    </h3>
                </div>


            </div>
            <div class='container table-responsive border border-secondary mt-5'>
                <div class="row align-items-center">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <h2 class='mt-3 fw-light'>Top Portfolio Positions</h2>
                    </div>
                    <div class="col-1">

                        <a class="btn btn-outline-dark border border-0" href='/portfolio'><i
                                class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>

                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Ticker</th>
                            <th scope="col">Position</th>
                            <th scope="col">Last Price</th>
                            <th scope="col">Position Value</th>
                            <th scope="col">Unrealised Profit/Loss</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let stock of portfolio.userHoldings) { %>
                            <tr onclick="linkTo('<%=stock.ticker%>')">
                                <td scope="row">
                                    <%= stock.ticker %>
                                </td>
                                <td>
                                    <%= stock.quantity %>
                                </td>
                                <td>
                                    $<%= stock.lastPrice[1] %>

                                </td>
                                <td>
                                    $<%= stock.posValue[1] %>
                                </td>
                                <td class=<%=(stock.unrealisedValue[0] < 0) ? 'text-danger' : 'text-success' %>>
                                    $<%= stock.unrealisedValue[1]%>, (<%= stock.unrealisedPercent[1]%>%)
                                </td>
                            </tr>
                            <% } %>


                    </tbody>
                </table>
            </div>
            <div class='mt-3'>
                <div class='btn-group' role="group">
                    <a class="btn btn-sm btn-outline-dark" href='/buy'>+</a>
                    <a class="btn btn-sm btn-outline-dark" href='/sell'>-</a>
                </div>
            </div>
            <% } else { %>
                <div class='mt-5'>
                    <h3>You do not own any stocks.</h3>
                    <a class="btn btn-outline-dark" href='/buy'>Add a stock</a>
                </div>
                <% } %>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type='text/javascript' src="chart.js" cost='<%=portfolio.totalCost[0]%>'
        value='<%=portfolio.totalValue[0]%>' charset='utf-8'></script>
    <script type='text/javascript' src="table.js"></script>


    <%- include('partials/footer') %>