<%- include('partials/header', {page: page}) %>



    <div class="section text-center mb-5">
        <% if (stocks.length) { %>

            <div class="container">
                <div class='container p-4 mt-4 px-5 text-center bg-light'>

                    <h2>Your Portfolio</h2>

                    <div class="row px-5 pt-3">
                        <div class="col-4 border border-dark">
                            <h5>Total value</h5>
                            <h3>
                                $<%-totalValue[1]%>
                            </h3>
                        </div>

                        <div class="col-4 border border-dark">
                            <h5>Total cost</h5>
                            <h3>
                                $<%-totalCost[1]%>
                            </h3>
                        </div>
                        <div class="col-4 border border-dark">
                            <h5>Current Yield</h5>
                            <h3 class=<%=(currentValue[0] < 0) ? 'text-danger' : 'text-success' %>>$
                                <%-currentValue[1]%>, (<%-currentPercent[1]%>%)
                            </h3>

                        </div>
                    </div>

                </div>
                <div class='container border border-secondary mt-5'>
                    <div class="row align-items-center">
                        <div class="col-1"></div>
                        <div class="col-10">
                            <h2 class='mt-3'>All Positions</h2>
                        </div>
                        <div class="col-1">

                            <a class="btn btn-outline-dark border border-0" href='/positions'><i
                                    class="fas fa-external-link-alt"></i></a>
                        </div>
                    </div>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Ticker</th>
                                <th scope="col">Position</th>
                                <th scope="col">Last Price</th>
                                <th scope="col">Position Value</th>
                                <th scope="col">Unrealised profit/loss</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (let stock of stocks) { %>
                                <tr>
                                    <th scope="row">
                                        <%- stock.ticker %>
                                    </th>
                                    <td>
                                        <%- stock.quantity %>
                                    </td>
                                    <td>
                                        $<%- stock.lastPrice[1] %>

                                    </td>
                                    <td>
                                        $<%- stock.posValue[1] %>
                                    </td>
                                    <td class=<%=(stock.unrealisedValue[0] < 0) ? 'text-danger' : 'text-success' %>>
                                        $<%- stock.unrealisedValue[1]%>, (<%- stock.unrealisedPercent[1]%>%)
                                    </td>


                                </tr>
                                <% } %>


                        </tbody>
                    </table>
                </div>
                <div class='mb-3'>
                    <div class='btn-group' role="group">
                        <a class="btn btn-sm btn-outline-dark" href='/buy'>+</a>
                        <a class="btn btn-sm btn-outline-dark" href='/sell'>-</a>
                    </div>
                </div>
                <% } else { %>
                    <div class='mt-5'>
                        <h3>You do not own any stocks.</h3>
                        <a class="btn btn-outline-dark" href='/buy'>Add a stock</a>
                    </div>
                    <% } %>


            </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="chart.js" cost='<%=totalCost[0]%>' value='<%=totalValue[0]%>' charset='utf-8'></script>


    <%- include('partials/footer') %>