<%- include('partials/header', {page: page}) %>


    <div class="container px-5">
        <div class='container p-4 mt-4 px-5 bg-light'>
            <div class="row  align-items-center">
                <div class="col-9">
                    <h1>
                        <%-companyInfo.name%> (<%-companyInfo.symbol%>)
                    </h1>
                    <h3 class='fw-light'>
                        <%-companyInfo.stock_exchange%>
                    </h3>
                </div>
                <div class="col-3 text-end">
                    <h1>$<%-companyInfo.close%>
                    </h1>
                </div>
            </div>
            <% if (userStock) {%>

                <div class='row mt-3'>
                    <div class="col border border-dark">
                        <h5>Units owned:
                        </h5>
                        <h3 class="fw-light">
                            <%-userStock.quantity%>
                        </h3>
                    </div>

                    <div class="col border border-dark">
                        <h5>Average Cost:</h5>
                        <h3 class="fw-light">$<%-userStock.price%>
                        </h3>
                    </div>
                    <div class="col border border-dark">
                        <h5>Current Value:</h5>
                        <h3 class="fw-light">$<%-userStock.totalValue[1]%>
                        </h3>
                    </div>

                    <div class="col border border-dark">
                        <h5>Current Yield:</h5>
                        <h3 class="fw-light <%-(userStock.unrealisedValue[0] < 0) ? 'text-danger' : 'text-success'%>">$
                            <%-userStock.unrealisedValue[1]%>, (<%-userStock.unrealisedPercent[1]%>%)
                        </h3>
                    </div>
                </div>
                <% }%>


                    <div class='mt-3'>
                        <div class='btn-group' role="group">
                            <% if (userStock) {%>

                                <a class="btn btn-outline-dark" href='/buy'>+</a>
                                <a class="btn btn-outline-dark" href='/sell'>-</a>

                                <% } else {%>
                                    <a class="btn btn-outline-dark" href='/buy'>Add Stock</a>

                                    <% }%>


                        </div>
                    </div>
        </div>

        <% if (userTrades) { %>

            <div class="container border-top mt-4 pt-4">
                <h3>Past Trade History</h3>
                <table class="table table-sm table-hover text-center">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Ticker</th>
                            <th scope="col">Buy/Sell</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price</th>
                            <th scope="col">Position Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let trade of userTrades) { %>
                            <tr>
                                <td scope=" row">
                                    <%- trade.date %>
                                </td>
                                <td>
                                    <%- trade.ticker %>
                                </td>
                                <td>
                                    <%- trade.transaction %>

                                </td>
                                <td>
                                    <%- trade.quantity %>
                                </td>
                                <td>
                                    $<%- trade.buyPrice[1] %>
                                </td>
                                <td>
                                    $<%- trade.tradeValue[1] %>
                                </td>
                            </tr>
                            <% } %>


                    </tbody>
                </table>
            </div>
            <%} %>

    </div>




    <%- include('partials/footer') %>